html, body{
  overflow-y: auto;
}
.transition{
  transition: 0.3s;
}

.clickable{
  cursor: pointer;
}

.clickable:hover, .clickable:focus{
  filter: blur(4px);
}

.app-bar-title{
  display: flex;
  color: #fff !important;
  text-decoration: none;
  align-items: center;
}

.home-grids{
  display: block;
  text-decoration: none;
}

.home-grids .v-responsive__content{
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 5px #333;
  transition: .3s;
}

.home-grids .v-image__image{
  filter: brightness(50%);
  transition: .3s;
}

.home-grids:hover .v-image__image, .home-grids:focus .v-image__image{
  filter: brightness(70%);
}

.home-grids:hover .v-responsive__content, .home-grids:focus .v-responsive__content{
  text-shadow: 0 0 5px #aaa;
}
