<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fighter.hk</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.1.9/dist/vuetify.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" type="image/png" href="img/helmet.png">
</head>
<body>
  <div id="app">
    <v-app>
      <v-app-bar class="grey darken-2" dark app clipped-left>
        <router-link to="/" class="app-bar-title">
          <v-avatar tile>
            <img src="img/helmet.png" alt="site logo" width="48">
          </v-avatar>
          <v-toolbar-title class="ml-3">Fighter.hk</v-toolbar-title>
        </router-link>
        <v-spacer></v-spacer>
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      </v-app-bar>
      <v-navigation-drawer class="grey darken-1 pt-1" dark app clipped left v-model="drawer">
        <div v-for="part in sections" :key="part.icon">
          <v-list-item-group color="yellow accent-3">
            <p class="subtitle-2 px-3 my-3 font-weight-bold white--text"><v-icon class="mr-3">{{ part.icon }}</v-icon>{{ part.title }}</p>
            <v-list-item v-for="link in part.grids" :key="link.url" :to="link.url">
              <v-list-item-content>{{ link.text }}</v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
          </v-list-item-group>
        </div>
      </v-navigation-drawer>
      <v-content>
        <router-view>
        </router-view>
      </v-content>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" integrity="sha256-ufGElb3TnOtzl5E4c/qQnZFGP+FYEZj5kbSEdJNrw0A=" crossorigin="anonymous"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js" integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue-router@3.1.3/dist/vue-router.min.js" integrity="sha256-r/vPIUvTobCpYZsMmvU7HM58cNd4D6/vdICqDFapV7Y=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.1.9/dist/vuetify.min.js" integrity="sha256-icut6WA4UVFDGKs+3iQ3a/hUqoCn1u+7PKfwQkHc9co=" crossorigin="anonymous"></script>
  <script src="js/data.js" charset="utf-8"></script>
  <script src="js/fighter.js" charset="utf-8"></script>
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
</body>
</html>
